#sidebarMenu{

background: linear-gradient(118deg, rgba(255,255,255,0.4430147058823529) 0%, rgba(215,214,212,0.8071603641456583) 100%);
}
/*para que el imput number no tenga flechitas*/
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
footer{
    background: linear-gradient(118deg, rgba(255,255,255,0.4430147058823529) 19%, rgba(215,214,212,0.8071603641456583) 100%);
}
#presentacion{
    background-color: rgba(245, 241, 241, 0.9);
}
.invisible{
    background-color: rgba(245, 241, 241, 0.9);
}  
#tituloPie{
    font-family: 'Roboto', sans-serif;
    
   
}
#tituloInterface{
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: rgb(120, 194, 173);
    animation-duration: 8s;
   
}
#subtituloInterface{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    --animate-delay: 3s;
    animation-duration: 5s;
    font-weight: bolder;
}

#campoPassword{
    display:none;
}
#campoHash{
    display:none;
}
#filaBotones{
    display:none;
}

#pb30{
    display:none;
}
#pb60{
    display:none;
}
#pb100{
    display:none;
}